.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  height: 96vh;
  display: flex;
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-title {
  font-size:100px; 
  font-family:'Raleway',Sans-serif; 
  font-weight:500; 
  position: relative; 
  width: 100%;
  max-width:100%; 
  height: auto; 
  padding:100px 0;
  overflow-x: hidden; 
  overflow-y: hidden; 
  color: yellow;
}
.animated-title .track {
  position: absolute; 
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite; 
}
@keyframes marquee {
  from { 
    transform: translateX(100%); 
  }
  to { 
    transform: translateX(-100%); 
  }
}
@media (hover: hover) and (min-width: 700px){
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 10rem)); 
    transform: translateY(calc(100% - 10rem));}
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff00ff,
    0 0 30px #ff00ff,
    0 0 40px #ff00ff,
    0 0 50px #ff00ff,
    0 0 60px #ff00ff;
}

